html, body {
    height: 100%;
}

.wrapper {
    overflow: hidden;
    min-width: 1200px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background: url(../../img/1.jpg) center top no-repeat, url(../../img/2.png) right -297px bottom 27px no-repeat;
}

.container {
    max-width: 1141px;
    margin: 0 auto;
    
}

/* .top-line__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */