.about {
    margin-bottom: 132px;
}

.about__img::before {
content: "";
display: block;
max-width: 490px;
height: 505px;
}

.about__content {
    margin-top: -408px;
    margin-left: 353px;
}

.about__content-text{
width: 785px;
margin-top: -382px;
margin-left: 82px;
line-height: 27px;
color: #060606;
}

.about__text {
    width: 502px;
    padding-bottom: 42px;
}

.about__background::before {
    content: "";
    display: flex;
    max-width: 785px;
    height: 455px;
}