.button {
    background: #F5170E;
    color: #fff;
    border-radius: 35px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 19px;
    font-style: normal;
    font-weight: bold;
    padding: 18px 40px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s all;
    display: block;
    max-width: 168px;
    max-height: 55px;
    position: relative;
    
}

.button--light {
    background: #fff;
    color: #F5170E;
}

.button--light-little {
    background: #fff;
    color: #F5170E;
    border: 1px solid #F5170E;
    padding: 16px 27px;
    margin-left: 3px;
    max-width: 135px;
}

.button:hover {
    background: #F5170E;
    color: #fff;
    border: 1px solid #F5170E;
}

.button--service {
    background: #fff;
    color: #F5170E;
    border: 1px solid #F5170E;
    padding: 16px 27px;
    margin-left: 3px;
    max-width: 168px;
    text-align: center;
}

.button--grey {
    background: #2B2B2B;
    color: #fff;
    width: 168px;
    height: 55px;
}

.button--grey:hover {
    background:#8E8E8E;
    border: #8E8E8E;
}