.contacts {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.contacts__phone {
    text-decoration: none;
    font-size: 26px;
    font-style: normal;
    display: flex;
}

.contacts__worktime {
    font-size: 13px;
    text-decoration: underline;
    font-style: normal;
}

.contacts__text {
    font-size: 11px;
    font-style: normal;
}