.footer {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__col{
    display: flex;
    align-items: center;
}

.footer__col-right {
    justify-content: flex-end;
}

.footer__container .logo {
    bottom: 65px;
    left: 0px;
}

.footer__container .menu {
    bottom: 56px;
    left: 296px;
}

.footer__container .contacts {
    bottom: 50px;
    right: 0;
}

.footer__container .social {
    position: absolute;
    bottom: 61px;
    left: 701px;
}

.footer__services {
    margin-top: auto;
    min-height: 136px;
}