.footer {
    height: 120px;
}

.footer__container .logo {
    bottom: 65px;
    left: 0px;
}

.footer__container .menu {
    bottom: 56px;
    left: 321px;
}

.footer__container .contacts {
    bottom: 50px;
    right: 0;
}

.footer__container .social {
    position: absolute;
    bottom: 61px;
    left: 701px;
}

/* .footer__container {
    border-top: 1px solid #;
} */