.offers {
    margin-bottom: 122px;
}

.offers__feature, .offers__features, .offers__feature-img, .offers__feature-text {
    display: inline-block;
}

.offers__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}

.offers__list {
    display: flex;
    justify-content: space-between;
}

.offers__item{
    width: calc(100%/ 3 - 18px);
    min-height: 449px;
    background: #fff;
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

}

.offers__item:last-child {
    margin-right: 0;
}

.offers__content {
    padding: 22px;
    padding-top: 38px;
    padding-bottom: 28px;
    color: #000;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.offers__features {
vertical-align: top;
}

.offers__feature {
    position: relative;
    padding-right: 5px;
}

.offers__feature-img {
position: relative;
left: 6px;
top: 22px;
}

.offers__feature-text {
    font-size: 16px;
    line-height: 19px;
    color: #666666;
    padding-right: 21px;
    font-weight: normal;
    position: relative;
    left: 12px;
    top: 16px;
    padding-bottom: 43px;

}

.offer__text {
    font-size: 14px;
    color: #303030;
    line-height: 21px;
    font-weight: normal;
    padding-bottom: 24px;
    
}

.offers__img {
    border-radius: 5px 5px 0px 0px;
}

.offer__btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: auto;
}