/* .pagination__display, .pagination__list, .pagination__item, .pagination__item--active, .pagination__prev, .pagination__next {
    display: inline-block;
    vertical-align: middle;

} */

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 147px;
}

.pagination__display {
    margin-right: 24px;
}

.pagination__list {
    display: flex;
    align-items: center;
}

.pagination__item--active .pagination__link {
    background: #fff;
    color: #F5170E;
}

.pagination__link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
}

.pagination--services .pagination__item--active .pagination__link{
    background: #F5170E;
    color: #fff;
}

.pagination--reviews .pagination__item--active .pagination__link{
    background: #F5170E;
    color: #fff;
}

.pagination--reviews {
    margin-bottom: 86px;
    /* padding-top: 53px; */
}