.header__services {
    height: 100%;
    display: flex;
    min-height: 412px;
    background: url(../../img/headline_1.png) center no-repeat;
    padding-top: 29px;
}

.header-services__container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex: 1; 
}

.services__col {
    display: flex;
    justify-content: space-between;
}

.col__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col_right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.breadcumps {
    padding-bottom: 23px;
}

.breadcumps__list {
    display: flex;
    align-items: center;
}

.breadcumps__item {
    display: flex;
    align-items: center;
}

.breadcumps__item::after {
    content: "/";
    color: #9A9A9A;
    padding-left: 3px;
    padding-right: 3px;
    }
    
.breadcumps__item:last-child::after{
    display: none;
    }



    .breadcumps__link {
        color: #9A9A9A;
        font-size: 14px;
        text-decoration: underline;
    }
    
    .breadcumps__item--active {
        font-weight: bold;
    }

    .main {
        flex: 1;
        background: none;
        background-color: #F2F2F2;
        color: #303030;
        padding: 98px 0 0 0;
    }

    .services__item {
        display: flex;
        margin-bottom: 49px;

    }

    .services__item:last-child {
        margin-bottom: 0;

    }

    .service__img {
        width: 41%;
        margin-right: 4%;
    }

    .service__content{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }

    .service__desc {
        line-height: 27px;
    }

    .main__services {
        margin-bottom: 64px;
    }