.title, .service__title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #fff;
    margin-bottom: 52px;
}

.title--fire {
    position: relative;
    margin-left: 2px;
    display: flex;
    align-items: center;
}

.title--fire::after {
    content: "";
    background: url(../../img/flame.png) no-repeat;
    margin-left: 10px;
    width: 21px;
    height: 28px;
}

.title--dark {
    color: #060606;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 41px;
}

.service__title {
    margin-bottom: 0;
    color: #000;
    line-height:36px;
}

.services__title {
    font-size: 72px;
    line-height: 42px;
    font-weight: bold;
    }